:root {
  --primary-color: #1a0036;
  --secondary-color: #0B001B;
  --background-color: #FFFFFF;
  --text-color: #333;
  --border-color: #e0e4e9;
  --success-color: #2ecc71;
  --error-color: #e74c3c;
  --primary-color-light: lightgray;
  --primary-color-dark: #1a0036;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.loader {
  display: none;
  border: 4px solid var(--background-color);
  border-top: 4px solid var(--primary-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}