from io import StringIO
from contextlib import redirect_stdout, redirect_stderr
import json
import traceback
from user_script import *

def run_solution():
    results = []
    for test_case in {{ test_cases | safe }}:
        error = ""
        logged_output = StringIO()
        logged_error = StringIO()

        input_data = test_case['input']
        expected_output = test_case['output']
        return_output = None
        valid = None
        
        try:
            with redirect_stdout(logged_output), redirect_stderr(logged_error):
                {{ problem_test_run_code | safe | indent(16) }}
        except OSError as e:
            error = "Permission denied." 
        except Exception as e:
            error = str(e)
        
        results.append({
            "input": input_data,
            "expected": expected_output,
            "output": return_output,
            "valid": valid,
            "error": error,
            "std_output": logged_output.getvalue().strip(),
            "std_error": logged_error.getvalue().strip()
        })
    return {"results": results}

if __name__ == "__main__":
    with open('/app/results.json', 'w') as dest:
        dest.write(json.dumps(run_solution()))